/*	Base styles
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background-color: #f5f5f5;
  font: 100% "Avenir Next", sans-serif; }

a {
  color: #31d595; }

em {
  color: #31d595; }

button {
  font: 100% "Avenir Next", sans-serif; }
  button:hover {
    cursor: pointer; }

input {
  font: 100% "Avenir Next", sans-serif; }

/*	Layout styles
 */
#header, #footer, #private {
  background-color: #20252d; }

#main {
  padding-top: 60px; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

.right {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right; }

#left {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 40px; }

#right {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-left: 40px; }

#footer {
  clear: both; }

/*	Modules styles
 */
.nav {
  padding: 30px 0; }
  .nav a {
    margin-right: 30px;
    color: #969fac;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s; }
    .nav a.username {
      margin-right: 0; }
    .nav a:hover {
      color: #31d595;
      text-decoration: underline; }

.search {
  display: inline-block;
  position: relative; }
  .search button {
    vertical-align: middle;
    font-size: 0;
    width: 12px;
    height: 12px;
    background: url(../img/glass.svg) no-repeat;
    border: none; }
    .search button:hover {
      cursor: pointer; }
  .search form {
    display: inline-block; }

.popup {
  display: none;
  background-color: #3e4550;
  position: absolute;
  z-index: 3;
  width: 300px;
  left: -140px;
  top: 50px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  box-sizing: border-box;
  text-align: left;
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%; }
  .popup.show {
    display: block;
    -webkit-animation: expand 0.4s;
    animation: expand 0.4s; }
    .popup.show li {
      -webkit-animation: appear 0.3s;
      animation: appear 0.3s; }
  .popup:before {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: calc(50% - 25px);
    width: 50px;
    height: 16px;
    background: url(../img/speech-arrow-top.svg) no-repeat;
    background-size: 50px 16px; }
  .popup li {
    margin: 10px 0;
    position: relative; }
    .popup li span {
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
      margin-top: 6px;
      margin-left: 10px;
      color: #f5f5f5;
      width: 160px; }
    .popup li .time {
      color: #31d595;
      font-weight: bold;
      width: 25px;
      padding-top: 7px; }

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1); }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1); }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1); }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1); } }
@keyframes expand {
  0% {
    transform: scale3d(1, 0, 1); }
  25% {
    transform: scale3d(1, 1.2, 1); }
  50% {
    transform: scale3d(1, 0.85, 1); }
  75% {
    transform: scale3d(1, 1.05, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.messages {
  display: inline-block;
  margin-right: 15px;
  position: relative; }
  .messages button {
    color: #fff;
    font-weight: bold;
    background: none;
    border: none;
    font-size: 14px;
    padding: 0; }
    .messages button:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 4px;
      width: 21px;
      height: 21px;
      background: url(../img/msg.svg); }
    .messages button.hot:before {
      background: url(../img/msg_hot.svg); }

.notifications {
  display: inline-block;
  margin-right: 25px;
  position: relative; }
  .notifications button {
    color: #fff;
    font-weight: bold;
    background: none;
    border: none;
    font-size: 14px;
    padding: 0; }
    .notifications button:hover {
      cursor: pointer; }
    .notifications button:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 4px;
      width: 21px;
      height: 21px;
      background: url(../img/notifications.svg); }
    .notifications button.hot:before {
      background: url(../img/notifications_hot.svg); }

.publish {
  width: 100%;
  margin: 0 auto 60px;
  text-align: center; }
  .publish form {
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 40%; }
    .publish form div:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -9px;
      top: calc(50% - 8px);
      width: 10px;
      height: 16px;
      background: url(../img/speech-arrow.svg) no-repeat;
      background-size: 10px 16px; }
    .publish form [type="text"] {
      width: 100%;
      border: none;
      padding: 20px 30px;
      border-radius: 6px;
      font-size: 14px;
      color: #3e4550; }
      .publish form [type="text"]::-webkit-input-placeholder {
        color: #969fac; }
      .publish form [type="text"]:-moz-placeholder {
        color: #969fac; }
      .publish form [type="text"]::-moz-placeholder {
        color: #969fac; }
      .publish form [type="text"]:-ms-input-placeholder {
        color: #969fac; }
      .publish form [type="text"]:focus {
        outline: none; }
    .publish form [type="submit"] {
      display: none; }
  .publish.friend {
    width: 100%;
    text-align: left; }
    .publish.friend form {
      width: 68%; }

.post {
  box-sizing: border-box;
  padding: 25px 30px 30px;
  background-color: #FFF;
  border-radius: 6px;
  margin-bottom: 40px; }
  .post .header {
    margin-bottom: 30px; }
    .post .header img {
      float: left;
      margin-left: -1px;
      margin-right: 20px; }
    .post .header span {
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      margin-top: 13px; }
    .post .header p.date {
      font-size: 12px;
      color: #969fac;
      font-weight: 500; }
  .post .main {
    clear: both;
    font-size: 14px;
    color: #969fac;
    line-height: 1.6; }
  .post .footer {
    position: relative;
    margin-top: 25px; }
    .post .footer button {
      font-size: 12px;
      color: #3e4550;
      padding: 0;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      border: none; }
  .post.friend span {
    margin-right: 8px; }
    .post.friend span.first:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
      margin-left: 8px;
      width: 13px;
      height: 21px;
      background: url(../img/arrow.svg); }

.user_info {
  text-align: center; }
  .user_info img {
    width: 200px; }
  .user_info h1 {
    margin-top: 50px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2.5px; }
  .user_info h2 {
    font-size: 18px;
    color: #31d595;
    margin-top: 5px; }
  .user_info button {
    background: none;
    border: 4px solid #3e4550;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
    margin: 50px 0; }
    .user_info button:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
      margin-right: 10px;
      width: 21px;
      height: 21px;
      background: url(../img/checked.svg); }
  .user_info .bottom-links {
    width: 100%;
    padding: 10px 0; }
    .user_info .bottom-links a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      display: inline-block;
      width: 33%;
      text-transform: uppercase; }
      .user_info .bottom-links a.viewcontacts {
        text-align: left; }
        .user_info .bottom-links a.viewcontacts:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-top: -2px;
          margin-right: 5px;
          width: 21px;
          height: 21px;
          background: url(../img/contact.svg); }
      .user_info .bottom-links a.viewposts:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
        width: 21px;
        height: 21px;
        background: url(../img/posts.svg); }
      .user_info .bottom-links a.sendmessage {
        text-align: right; }
        .user_info .bottom-links a.sendmessage:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-top: -2px;
          margin-right: 5px;
          width: 21px;
          height: 21px;
          background: url(../img/msg.svg); }

.login {
  text-align: center;
  color: #fff; }
  .login h1, .login h2 {
    text-transform: uppercase;
    letter-spacing: 5px; }
  .login h1 {
    margin: 1.5em 0;
    font-weight: 800;
    font-size: 2.5em; }
  .login h2 {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.6em; }
  .login form {
    margin: 3em auto;
    width: 340px; }
    .login form label {
      display: block;
      margin-bottom: 0.5em;
      text-align: left; }
  .login form + a {
    text-transform: uppercase;
    color: #969fac;
    font-size: 0.9em;
    font-weight: bold; }

.form input[type="text"], .form input[type="password"] {
  display: block;
  width: 92.5%;
  padding: 0.9em;
  margin-bottom: 1em;
  font-size: 0.9em;
  border: none;
  background-color: #3e4550;
  border-radius: 0.3em;
  outline: none; }

.submit-button {
  width: 100%;
  padding: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #3e4550;
  font-size: 0.9em;
  border: none;
  background-color: #31d595;
  border-radius: 0.3em; }
  .submit-button:hover {
    cursor: pointer; }
